<div class="flex">
    <svg
   version="1.1"
   id="svg5"
   class="socket"
   inkscape:version="1.1 (c4e8f9e, 2021-05-24)"
   sodipodi:docname="port.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs2" />
  <g
     inkscape:label="Ebene 1"
     inkscape:groupmode="layer"
     id="layer1">
    <circle
    (click)="click()"
       #socketRim
       style="stroke:#000000;stroke-width:0.765;stroke-opacity:0.975758"
       class="fill-gray-500 hover:fill-gray-300"
       id="path846"
       cx="15"
       cy="15"
       r="11.289907" />
    <circle 
    (click)="click()"
       #socketCenter
       style="fill:#000000;stroke:#000000;stroke-width:0.764998;stroke-opacity:0.975758"
       id="circle928"
       cx="15"
       cy="15"
       r="6.4701586" />
  </g>
</svg>

</div>